/* All <li> elements. */
h2 {
    color: rgb(0, 0, 0);
}

h2 {
    border: rgb(0, 0, 0) 2px solid;
    background-color: royalblue;
}

h1 {
    border: rgb(0, 0, 0);
    background-color:royalblue;
}

li.spacious {
        margin: 2em;
}